html, *{
  padding: 0px;
  margin: 0px;
}

.app, #root{
  height: 100vh;
  width: 100vw;
}

.app{
  display: grid;
}

.app[data-orientation='portrait']{
  --contentWidth: 90%;
  --contentHeight: 30%;
  grid-template-areas: 
  'ch ch ch ch'
  '.  cw .  cb';
  grid-template-rows: 125px 11in;
  grid-template-columns: 1fr 8.5in 1fr 8fr;
}

.controlHeader{
  grid-area: ch;
}

.controlBox{
  grid-area: cb;
}

.contentWrapper{
  grid-area: cw;
  position: relative;
  display: flow-root;
  background-color: #fff;
}

