html, *{
  padding: 0px;
  margin: 0px;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ddd;
}

.contentWrapper{
  margin-inline: auto;
  position: relative;
  display: flow-root;
  background-color: #fff;
}

.contentWrapper[data-orientation='portrait']{
  --contentWidth: 90%;
  --contentHeight: 30%;
  height: 11in;
  width: 8.5in;
}