.mapBlock {
    position: relative;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-areas: 
    ' . . . .'
    ' . l m m '
    ' . l m m '
    ' . . b b ';
    grid-template-columns: 5% 10% 42.5% 42.5%;
    grid-template-rows: 5% 42.5% 42.5% 10%;
}

.mapBlock > * {
    height: 100%;
    width: 100%;
}

.leftAxis{
    grid-area: l;
}
.bottomAxis{
    grid-area: b;
}

.mapBlock > .leaflet-container {
    grid-area: m;
    border-radius: 15px;
    border-block-start: 1px solid rgba(255,255,255,0);
    border-inline-start: 1px solid rgba(255,255,255,0);
    border-block-end: 1px solid rgba(0,0,0,0.1);
    border-inline-end: 1px solid rgba(0,0,0,0.1);
}