.mapBlock {
    position: relative;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-areas: 
    ' . t t t . '
    ' . l m m . '
    ' . l m m . '
    ' . . b b . '
    ' . . . . . ';
    grid-template-columns: 2.5% 10% 42.5% 42.5% 2.5%;
    grid-template-rows: 5% 41.25% 41.25% 10% 2.5%;
}

.mapBlock > * {
    height: 100%;
    width: 100%;
}

.mapTitle {
    grid-area: t;
}

.leftAxis, .bottomAxis{
    overflow: visible;
}

.leftAxis{
    grid-area: l;
}
.bottomAxis{
    grid-area: b;
}

.mapBlock > .leaflet-container {
    grid-area: m;
    border-radius: 15px;
    border-block-start: 1px solid rgba(255,255,255,0);
    border-inline-start: 1px solid rgba(255,255,255,0);
    border-block-end: 1px solid rgba(0,0,0,0.1);
    border-inline-end: 1px solid rgba(0,0,0,0.1);
}